body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clockBox {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: orange;
  font-weight: bolder;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
